@page "/"
@using System.Runtime.InteropServices;
@using Yubico.YubiKey;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    protected override void OnInitialized()
    {
        bool isOSX = RuntimeInformation.IsOSPlatform(OSPlatform.OSX);
        string osDescription = RuntimeInformation.OSDescription;
        //IYubiKeyDevice yubiKey = YubiKeyDevice.FindAll().FirstOrDefault();
        base.OnInitialized();
    }

}